.cell-container {
    width: max-content;
    height: max-content;
    position: relative;
}

.cell-mark {
    border: 2px solid darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    .symbole-mark {
        color: darkgreen;
        font-size: 48px;
    }
}

.cards-container {
    position: absolute;
    top: 0;
}