.cell-container {
    width: max-content;
    height: max-content;
    position: relative;
}

.cell-mark {
    position: relative;
    top: 0px;
    border: 2px solid darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    .symbole-mark {
        color: darkgreen;
        font-size: 48px;
    }
}

.cards-container {
    position: absolute;
    top: 0px;
    width: 100%;
    min-height: 100%;
    .selection-marker {
        position: absolute;
        box-sizing: inherit;
        border-radius: 10px;
        width: 100%;
        bottom: 0px;
        border: 5px solid crimson;
        z-index: 1;
        pointer-events: none;
    }
}