.gameboard-container {
    width: 100%;
    height: 100%;
    background-color: rgb(47, 158, 47);
    border: 3px solid darkgreen;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "bonus win" "board board";
    gap: 50px;
}

.bonuscells-container,
.wincells-container,
.boardcells-container {
    padding: 25px;
    display: flex;
    gap: 50px;
}

.bonuscells-container {
    grid-area: bonus;
}

.wincells-container {
    grid-area: win;
    justify-content: end;
}

.boardcells-container {
    grid-area: board;
    justify-content: center;
}