*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow: hidden;
    background-color: limegreen;
}

a {
    text-decoration: none;
}

.App {
    width: 100vw;
    height: 100vh;
    padding: 50px;
}